

body{
background-color: #f6f1ed;
font-family: 'Lato';
margin: 0px;
}

header{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin-top: 1em;
  font: normal 130px/normal "Black Ops One", Helvetica, sans-serif;
  color: #42322B;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
}

#bar
{
	position:fixed;
    width:100%;
    height:6em;
    background:#30231d;
    top:0px;
    z-index: 2;
    box-shadow:0px 0px 20px 0px #000;
    text-align: center;
}

#bar img
{
	margin-top: 1%;
	height: 80%;
}

#points
{
	margin-top: 1%;
	float: left;
	font-size: 3em;
	color: white;
}

#logout
{
	float: right;
}
.panelgorny{
	z-index:1000;
	position: fixed;
	width: inherit;
	max-width:inherit;
	height: 3em;
	box-shadow:0px 0px 20px 0px #000;
	background-color: #30231d;
	top: 0px;
}

.panelgorny div{
	float: left;
	height: inherit;
	width: 10%;
	margin: 1% 5%;
	color: white;
}
.panelgorny img{
	display: block;
	width: 100%;
}


.strona{
	max-width: 1024px;
	width: 100%;
	margin: 1em auto 60px auto;
	font-size: 3em;
}

.wydarzenie
{
	width: 100%;
	box-shadow: 1px 1px 2px #888888;
	background-color: #30231d;
	color: #f6f1ed;
}
 
.headerwydarzenie
{
	height: 80px;
	min-height: 30px;
	width: 100%;
	position: relative;
	align-items: stretch;
	float: left;
	padding: 5px;
}

.headerwydarzenie .profiloweimg{
    border-radius: 50%;
    overflow: hidden;
    height: 120%;
    width: auto;
    margin: auto;
    margin-top: 1%; 
    margin-left: 1%;
    float: left;
}

.wydarzenie .headerwydarzenie p
{
	background-color: #30231d;
	float: left;
	font-size: 3em;
	margin: 0px;
	padding: 0em;
}
 
.wydarzenie img
{
    width: 100%;
}

.wydarzenie a
{
    text-decoration: none;
    color: white;
}

.wydarzenie .opis{
	background-color: #f6f1ed;
	color: #30231d;
	font-size: 1em;
	padding: 0.5em;
}

.paneldolny{
	z-index:1000;
	position: fixed;
	width: inherit;
	max-width:inherit;
	height: 2em;
	box-shadow: 1px 1px 10px #ccc;
	background-color: #30231d;
	bottom: 0px;
}
.stopkaEvent:{
	float: left;
	width: 100%;
	background-color: blue;
}

.wydarzenie .eventInfo{
	float: left;
	width: 100%;
	font-size: 2em;
	color:black;
}

.paneldolny div:first-child{
	border-left-style: none;
}
.paneldolny div{
	float: left;
	width: 24.33333%;
}
.paneldolny img{
	width:auto;
	height: 70%;
	display: block;
    margin: 0 auto;
    padding: 7%;
}
.logowanie{
	background-color: #f6f1ed;
	padding: 1em;
	box-shadow: 1px 1px 2px #888888;
}

.logowanie p{
	text-align:center;
	margin-bottom: 5px;
}
.logowanie input, .button{
	width:100%;
	font-size: 1em;
	margin-bottom: 5px;
	-webkit-border-radius: 32px / 40px;
    border-radius: 32px / 54px;
}

/*.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font-size: 1em;
	width:100%;
}
*/
.btn_ahref {
    background-color: #30231d; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font-size: 1em;
	width:auto;
}

.grupuj{
	width: 100%;
	background-color: #30231d;
	box-shadow: 1px 1px 10px #000;
}

.grupuj >p{
	text-align:center;
	color: #f6f1ed;
	margin-bottom:0;
	padding:0;
}

.text{
	width:100%;
	max-width:100%;
	margin-bottom: 5px;
	font-size: 1em;
}

.wylogujButton{
	width:100%;
	background-color: #008CBA;
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	padding: 10px 0px 10px 0px;
}

.lista_uczestnikow
{
	background-color: #30231d;
	width: 100%;
}

.lista_uczestnikow p
{
	font-size: 0.7em;
}

form.users_form
{
	margin-bottom: 0;
}

.decision_buttons
{
	margin: 0em auto;
    text-align: center;
}

.btnNo
{
	width: 20% !important;
	display: inline-block;
	margin: 5%;
}

.btnYes
{
	width: 20% !important;
	display: inline-block;
	margin: 5%;
}

.zgloszenie
{
	max-width: 800px;
	width: 100%;
	box-shadow: 1px 1px 2px #888888;
	background-color: #30231d;
	color: #f6f1ed;
	border-radius: 3%;
	position: fixed;
	text-align: center;

}

.zgloszenie img
{
    width: 100%;
    max-height: 60%;
}

.zgloszenie a
{
    text-decoration: none;
    color: white;
}

.zgloszenie .opis{
	background-color: #30231d;
	color: #f6f1ed;
	font-size: 1em;
	padding: 0.5em;
}

.logowanie h3 {
	text-align: center;
	 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 80px/normal "Black Ops One",Helvetica, sans-serif;
  color: #42322B;
  text-align: center;
   -o-text-overflow: clip;
  text-overflow: clip;
}

.logowanie p {
	 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 50px/normal "Black Ops One", Helvetica, sans-serif;
  color: #42322B;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
}

.button {
	margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  -webkit-border-radius: 32px / 40px;
  border-radius: 32px / 54px;
  font: normal 20px/normal "Coda", Helvetica, sans-serif;
  color: #41312B;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: white;
  border-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover{
  border: 2px solid white;
  color: white;
  background: #41312B;
}

.logowanie input[type=submit]{
	margin-top: 2em;
}

.logowanie a {
	 text-decoration: none;
	 font: normal 50px/normal "Coda", Helvetica, sans-serif;
	 margin-top: 0.2em;
	 padding-right: 10px;
}




